<% include ../shared/header.ejs %>

<h1>Welcome to My Express.js Workshop – Forum System</h1>

<h2>Latest Forum Threads</h2>
<ul>
    <li><h3>Thread Title</h3>
        <p>Thread Author | Thread Date | Thread Category</p>
        <p>Last Activity: 21/10/2016 09:54:41 By Answer/Comment Author</p>
    </li>
</ul>

<% include ../shared/footer.ejs %>