<% include ../shared/header.ejs %>

<h1>Add New Tweet</h1>

<form action="/tweet" method="post">
    <p><label for="message">Message (maximum 140 symbols):</label><br>
        <textarea id="message" name="message" rows="10"><%= message %></textarea>
    </p>
    <p><a href="/">Cancel</a> | <input type="submit" value="Save"></p>
</form>

<% include ../shared/footer.ejs %>